<li class="mb-1">
  <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#ostsinn-collapse" aria-expanded="true">
    OstSinn
  </button>
  <div class="collapse show" id="ostsinn-collapse">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Über uns</a></li>
      <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Mitmachen</a></li>
      <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Dienstleistungen</a></li>
      <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Team</a></li>
    </ul>
  </div>
</li>
<li class="mb-1">
  <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#community-collapse" aria-expanded="false">
    Community
  </button>
  <div class="collapse show" id="community-collapse">
    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
      <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Initiativen</a></li>
      <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Events</a></li>
      <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Blog</a></li>
    </ul>
  </div>
</li>